<%= title ('Create your team') %>

<%= standard_form @team do |f| %>
	<%= f.fieldset(f.text_field(:name), f.password_field(:password), f.password_field(:password_confirmation), legend_text: 'Create a new team') %>
	<%= f.submit 'Create team' %>
<% end %>

<%= form_tag join_teams_path, id: 'join_team', class: 'join_team' do %>
	<fieldset class='fieldset'>
		<legend>Join an existing team</legend>
		<%= select_tag(:id, options_from_collection_for_select(Team.all, :id, :name)) %>
		<%= label_tag :password, 'Password' %>
		<%= password_field_tag :password %>	
	</fieldset>
	<%= submit_tag 'Join team', class: 'expanded button' %>
<% end %>

<%= link_to login_path do %>
	<p class="text-center">Already working with MySlack? Sign In.</p>
<% end %>