<%= title('Sign in to your account') %>

<%= form_tag login_path, id: 'login' do %>
<fieldset class="fieldset">
	<legend>Entere your email and password</legend>
	<%= label_tag :email, 'Email'%>
	<%= email_field_tag :email %>
	<%= label_tag :password, 'Password'%>
	<%= password_field_tag :password %>
  <div class="row">
    <div class="small-12 columns">
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me, "Remember Me?" %>
    </div>
  </div>
</fieldset>
	<%= submit_tag 'Sign in', class: 'expanded button' %>
<% end %>

<%= link_to 'Forgot your password?', password_reset_path %>
