<%= title("Edit your account") %>

<%= standard_form [@team, @team_founder] do |f| %>
	<%= render partial: 'users/form', locals: {f: f} %>
	<%= f.submit 'Update' %>
<% end %>

<%= link_to team_path(@team), method: :delete do %>
	<p class="text-center">I would like to delete this team account.</p>
<% end %>