<li><%= link_to 'All', "all", remote: true %></li>
<li><%= link_to 'Today', "today", remote: true %></li>
<li><%= link_to 'Yesterday', "yesterday", remote: true %></li>
<li><%= link_to 'This Week', "this_week", remote: true %></li>
<li><%= link_to 'Last Week', "last_week", remote: true %></li>
<li>
	<%= link_to 'During Month', '' %>
	<ul class="menu">
		<%= filter_months %>
	</ul>
</li>
<li><%= link_to 'During Year', '' %>
	<ul class="menu">
		<%= filter_years %>
	</ul>
</li>
