<%= title("Edit your account") %>

<%= standard_form [@team, @user] do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
	<%= f.submit 'Update' %>
<% end %>

<%= link_to deactivate_team_user_path(@team, @user), method: :patch do %>
	<p class="text-center">I would like to deactivate my account.</p>
<% end %>